/* Importing bootstrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* Importing Custom Fonts */
@font-face {
    font-family: 'Headline Font';
    src: url('../fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf');

    font-family: 'Main Font';
    src: url('../fonts/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf');
}




/* General Page Styling */
html,
body,
header,
main {
    background-color: #f2efe3 !important;
    transition: transform 2s ease, opacity .5s ease-out;
    -webkit-transition: transform 2s ease, opacity .5s ease-out;
    -moz-transition: transform 2s ease, opacity .5s ease-out;
    -ms-transition: transform 2s ease, opacity .5s ease-out;
    -o-transition: transform 2s ease, opacity .5s ease-out;
}

aside {
    background-color: #006766 !important;
    height: 100vh; /* يجعل الـ Sidebar يأخذ ارتفاع الصفحة بالكامل */
    /* يضمن بقاءه ثابتًا عند التمرير */
    top: 0;
    left: 0;
    width: 250px; /* عرض مناسب */
    overflow-y: auto; /* تمكين التمرير في حال وجود عناصر كثيرة */
   margin: 20px;
    
}


nav {
    justify-content: flex-start;
}
nav span{
    font-size: 15px;
}
/* Navbar Styling */
.navbar {
    background-color: #024747 !important;
    border-color: #f3e4e4;
}

.navbar a {
    color: white !important;
}


/* Product Card */
.card {
    background-color: #ffffff;
    color: black;
}

/* Table Styling */
.table {
    background: white;
    color: black;
}

/* Button Styling */
.btn-success {
    background-color: #028a68;
    border: none;
    transition: background-color 0.3s ease-in-out;
}

.btn-success:hover {
    background-color: #02684e; /* لون أغمق عند التحريك فوقه */
}

.btn-danger {
    background-color: #d9534f;
    border: none;
    transition: background-color 0.3s ease-in-out;
}

.btn-danger:hover {
    background-color: #b52b27; /* لون أغمق عند التحريك فوقه */
}

.btn-color {
    background-color: #006766 !important;
}


.btn-color:hover {
    background-color: #004140 !important;
}

.searchInput-color {
    color: #006766 !important;
}

.end {
    right: 7%;
}

#profileDiv-id,
.cursor-pointer {
    cursor: pointer;
}

ul {
    list-style: none !important;
}

a {
    text-decoration: none !important;
}

ul li .list-links {
    font-weight: 900 !important;
    font-size: 15px;
    color: white !important; /* ضمان أن اللون الأساسي أبيض */
    padding: 10px 15px; /* جعل العناصر أكثر وضوحًا */
    display: block;
}

ul li .list-links:hover {
    color: #000000 !important; /* تغيير اللون إلى أصفر لإبراز الاختيار */
    background-color: rgba(255, 255, 255, 0.1); /* إضافة تأثير خفيف */
    border-radius: 5px;
}
ul li .list-links-active {
    color: #000 !important;
}

/* Custom Fonts */
.img-sm-w {
    width: 70px;
}


.fs-cf-4 {
    font-size: 1.25rem !important;
}

.fs-cf-5 {
    font-size: 1rem !important;
}


/* للشاشات المتوسطة (md) وما فوق */
@media (min-width: 765px) {
    .fs-cf-3 {
        font-size: 1.5rem !important;
    }

    .img-md-w {
        width: 100px;
    }

    .card-md-w {
        width: 100%;
    }

    .end {
        right: 3% !important;
        position: absolute;
    }
}

/* للشاشات الكبيرة (lg) وما فوق */
@media (min-width: 992px) {
    .fs-cf-1 {
        font-size: 2.5rem !important;
    }

    .fs-cf-2 {
        font-size: 2rem !important;
    }

    .img-cf-w {
        width: 150px;
    }

    .table-lg-w {
        width: 100%;
    }

    .end {
        right: 3% !important;
        position: absolute;
    }
}

