*{
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box;
}
html{
    font-size: 12px;
}

.siteColorClass{
    background-color: #006766;
}

/* My Nav Bar in case of small screens : */
/* this is Menue Bar Button */
#menuBarBtn_id{
    border: none;
    background-color: inherit;
    color: white;
    font-size: 2rem;
}
#menuBarBtn_id:hover{
    color: black;
}

.imgLogo_class{
    width: 100%;
}
/* this is Shopping Cart Icon */
#shoppingCartIcon_id{
    font-size: 2rem;
    color: white;
}

/* styling the side menu bar , only displayed when menu bar pressed*/
#sideNavBar_id{
    position: fixed;
    top: 0;
    left: -75%;
    z-index: 2;
    transition: left .7s ease;
    font-size: 1.5rem;
}
#sideNavBar_id .manageProfile{
    background-color: #006766;
    color: white;
}
.sideNavLinksContainer{
    border-right: solid 1px #006766;
    border-bottom: solid 1px #006766;
}
.categoriesLinks{
    background-color: white;
}
.categoriesLinks >  a{
    padding: 1rem .5rem !important;
    color: black !important; 
    border-bottom: 1px solid #037876 ;
}

.categoriesLinks a:last-child{
    border: none;
}



/* My Search Input Field in case of small Screens */
/* this is my search input id*/
.searchInput_class{
    font-size: 1.5rem;
    padding:.5rem  !important;
    width: 100%;
    border: solid 1px #006766;
}
.searchInput_class:hover{
    border: solid 2px #006766;
}

/* this is my search icon button*/
#searchBtn_1_id{
    font-size: 1.5rem;
    border: none;
    background-color: white;
    color: #006766;
    height: 40%;
    position: absolute;
    top: 30%;
    right: 2rem;
}
#searchBtn_1_id:hover{
    color: black;
}


/* styling a vertical ruler */
.verticalSpace{
    height: 2rem;
    width: .1rem;
    background-color: rgb(194, 193, 191);
}

/* styling my links in the nav bar*/
nav  a{
    text-decoration: none;
    color: white;
}
nav  a i{
    color: inherit !important;
}
nav a:hover{
    color: black;
}

/*************************************************/

/* Styling MyCarousel*/
.MyCarousel{
    height: 90vh !important;
    background-image: url('../../Images/CustomerImages/carusoal_images/1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image .5s ease;
}

/* styling carusoal buttons*/
.carusoalBtns{
    position: absolute;
    top: 45%;
    left: 0;
    height: 10%;
    width: 100%;
    font-size: 3rem;
}

/* styling the height of my crusoal in different widths :*/
@media (max-width: 550px) { /* For small devices */
    .MyCarousel{
        height: 40vh !important;
    }
  }

@media (min-width: 550px) and (max-width: 720px) { /* For small devices */
    .MyCarousel{
        height: 50vh !important;
    }
}

@media (min-width: 720px) and (max-width: 860px) { /* For small devices */
    .MyCarousel{
        height: 60vh !important;
    }
}

@media (min-width: 860px) and (max-width: 1000px) { /* For small devices */
    .MyCarousel{
        height: 70vh !important;
    }
}


/*************************************************/

/* Styling my Footer*/
footer{
    color: white;
}
footer .someInfo a, footer .socialMediaLinks a{
    text-decoration: none;
    color: inherit;
}

footer .someInfo a:hover , footer .socialMediaLinks a:hover{
    color: black;
}

footer .socialMediaLinks a{
    font-size: 1.4rem;
}
/*************************************************/

/* styling my category container*/

.category a{
    text-decoration: none;
    color: black;
    transition: transform .4s ease ;
}
.category:hover a{
    transform: scale(1.1);
    z-index: 2;
    border: 1px solid black;
}

.category a p{
    padding-top: 1rem !important;
    font-size: 1.5rem;
}

/*************************************************/

/* styling my products section */
/* Our product header that contains discount percentage and button to add product to wishlist*/
/* my product container */
.product{
    padding: .4rem !important;
    position: relative;
    transition :transform .5s ease;
}
.product:hover{
    transform: scale(1.05);
}
.productInnercontainer{
    background-color: white;
}

/* product discount paragraph*/
.prodDiscount_class {
    background-color: yellow;
    padding: 0 .5rem !important;
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
}

/* the button to add the product to wishlist */
.addToWishListBtn_class{
    padding: 0 .5rem !important;
    border: none !important;
    color: white;
    background-color: inherit;
    font-size: 1.3rem;
}
.addToWishListBtn_class i{
    -webkit-text-stroke: 1px rgb(11, 11, 11); /* Border around the heart */
}
.addToWishListBtn_class:hover i{
    -webkit-text-stroke: 1px red; /* Border around the heart */
}

/* product image container*/
.productImageContainer{
    height: 30vh;
}
.product img{
    width: 75%;
    object-fit: contain;
    flex-grow: 1;
}

/* this is product description paragraph*/
.productDesc{
    color: rgb(90, 87, 87);
}


/* Product price */
.productPrice_class{
    font-size: 1.4rem;
    font-weight: 600;
}

.EGP{
    font-size: .8rem;
}
/* product old price */
.oldPrice_class{
    text-decoration: line-through;
    padding-left: .8rem !important;
    font-size: 1.1rem;
    color: rgb(90, 87, 87);
}

/* this is the div that contains the add to cart button */
.cartBtn{
    border-top: 1px solid black;
}
.addToCartBtn_class{
    padding: .5rem .5rem !important;
    font-size: 1.2rem;
    font-weight: 600;
    border: 2px solid #198754 !important;
}



/* the number of products you want to add to cart , and bin to remove last item*/
.productCountAndBin{
    border: 1px solid black;
    border-radius: .4rem;
    font-size: 1.3rem;
}

.productCountAndBin button {
    font-size: 1.3rem;
    border: none !important;
    color: rgb(153, 152, 152);
    background-color: white;
}

.productCountAndBin button:hover{
    color: black;
}

/* to handel font size in small devices*/

@media (min-width: 700px) { /* For medium devices */
    html{
        font-size: 14px;
    }
}


