*{
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}

/* My Nav Bar in case of small screens : */
/* this is Menue Bar Button */
#menuBarBtn_id{
    border: none;
    background-color: inherit;
    color: white;
    font-size: 2rem;
}
#menuBarBtn_id:hover{
    color: black;
}

.imgLogo_class{
    width: 100%;
}
/* this is Shopping Cart Icon */
#shoppingCartIcon_id{
    font-size: 2rem;
    color: white;
}



/* My Search Input Field in case of small Screens */
/* this is my search input id*/
.searchInput_class{
    padding:.5rem  !important;
    width: 100%;
    border: solid 1px rgb(83, 81, 81);
}
.searchInput_class:hover{
    border: solid 2px black;
}

/* this is my search icon button*/
#searchBtn_1_id{
    border: none;
    background-color: white;
    color: rgb(168, 162, 162);
    height: 40%;
    position: absolute;
    top: 30%;
    right: 2rem;
}
#searchBtn_1_id:hover{
    color: black;
}


/* styling a vertical ruler */
.verticalSpace{
    height: 2rem;
    width: .1rem;
    background-color: rgb(194, 193, 191);
}

/* styling my links in the nav bar*/
nav  a{
    text-decoration: none;
    color: white;
}
nav  a i{
    color: inherit !important;
}
nav a:hover{
    color: black;
}

/*************************************************/

/* Styling MyCarousel*/
.MyCarousel{
    height: 80vh !important;
    background-image: url('../images/carusoal_images/1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* styling carusoal buttons*/
.carusoalBtns{
    position: absolute;
    top: 45%;
    left: 0;
    height: 10%;
    width: 100%;
    font-size: 3rem;
}

/* styling the height of my crusoal in different widths :*/
@media (max-width: 900px) { /* For small devices */
    .MyCarousel{
        height: 40vh !important;
    }
  }


/*************************************************/

/* Styling my Footer*/
footer{
    color: white;
    font-size: 1.3rem;
}
footer .someInfo a, footer .socialMediaLinks a{
    text-decoration: none;
    color: inherit;
}

footer .someInfo a:hover , footer .socialMediaLinks a:hover{
    color: black;
}

/*************************************************/


