/* Importing bootstrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


html,
body,
header,
main {
    background-color: #f2efe3 !important;
}

aside {
    height: 650px;
}

aside,
.btn-color,
.btn-color-fa:hover,
.btn-color:hover {
    background-color: #006766 !important;
}

.btn-color-fa {
    background-color: #fafafa !important;
    border: 2px solid #006766 !important;
}

.btn-color:hover {
    background-color: #004140 !important;
}

.btn-color-fa:hover {
    color: #fafafa !important;
    border: 2px solid #006766 !important;
}

.searchInput-color,
.Arrow-color,
.btn-color-fa {
    color: #006766 !important;
}

.Arrow-color:hover {
    transform: translate(20px);
    -webkit-transform: translate(20px);
    -moz-transform: translate(20px);
    -ms-transform: translate(20px);
    -o-transform: translate(20px);
    transition: transform 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    -ms-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
}

.bar-tran {
    overflow: hidden;
}

.end {
    right: 7%;
}

#profileDiv_id,
.cursor-pointer {
    cursor: pointer;
}

ul {
    list-style: none !important;
}

a {
    text-decoration: none !important;
}

ul li .list-links {
    font-weight: 900 !important;
    font-size: 20px;
}

ul li .list-links:hover,
ul li .list-links-active {
    color: black !important;

}

.profile-img {
    width: 70px;
}

/* Custom Fonts */
.img-sm-w {
    width: 70px;
}

.fs-cf-4 {
    font-size: 1.25rem !important;
}

.fs-cf-5 {
    font-size: 1rem !important;
}


/* للشاشات المتوسطة (md) وما فوق */
@media (min-width: 765px) {
    .fs-cf-3 {
        font-size: 1.5rem !important;
    }

    .img-md-w {
        width: 100px;
    }

    .card-md-w {
        width: 100%;
    }

    .end {
        right: 3% !important;
        position: absolute;
    }

    .profile-camera-icon {
        bottom: 3%;
    }
}

/* للشاشات الكبيرة (lg) وما فوق */
@media (min-width: 992px) {
    .fs-cf-1 {
        font-size: 2.5rem !important;
    }

    .fs-cf-2 {
        font-size: 2rem !important;
    }

    .img-cf-w {
        width: 150px;
    }

    .table-lg-w {
        width: 100%;
    }

    .end {
        right: 3% !important;
        position: absolute;
    }

    .profile-camera-icon {
        bottom: 3%;
    }
}