/* Importing bootstrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


html,
body,
header,
main {
    background-color: #f5f5f5 !important;
}

aside {
    height: 650px;
}

aside,
.btn-color,
.btn-color-fa:hover,
.btn-color:hover {
    background-color: #006766 !important;
}

.sideBarMobile {
    position: fixed;
    top: 0;
    left: -75%;
    z-index: 99;
    transition: left .7s ease;
    font-size: 1rem;
    -webkit-transition: left .7s ease;
    -moz-transition: left .7s ease;
    -ms-transition: left .7s ease;
    -o-transition: left .7s ease;
}

.btn-color-fa {
    background-color: #ffff !important;
    border: 2px solid #006766 !important;
}

.btn-color:hover {
    background-color: #004140 !important;
}

.btn-color-fa:hover {
    color: #ffff !important;
    border: 2px solid #006766 !important;
}

.searchInput-color,
.Arrow-color,
.btn-color-fa {
    color: #006766 !important;
}

.Arrow-color:hover {
    .Arrow-color:hover {
        transform: translateX(20px);
        transition: all 0.3s ease-in-out;
    }
}

.bar-tran {
    overflow: hidden;
}

.end {
    right: 7%;
}

#profileDiv_id,
.cursor-pointer {
    cursor: pointer;
}

ul {
    list-style: none !important;
}

a {
    text-decoration: none !important;
}

ul li .list-links {
    font-weight: 900 !important;
    font-size: 20px;
}

ul li .list-links:hover,
ul li .list-links-active {
    color: black !important;

}

.profile-img {
    width: 70px;
}

#notifiDropDownDiv_id {
    position: absolute;
    width: 350px;
    height: 500px;
    overflow: auto;
    transform: translate(-250px, 41px);
    -webkit-transform: translate(-250px, 41px);
    -moz-transform: translate(-250px, 41px);
    -ms-transform: translate(-250px, 41px);
    -o-transform: translate(-250px, 41px);

    z-index: 99;
}

#search_id {
    position: absolute;
    width: 500px;
    transform: translate(-470px, 35px);
    -webkit-transform: translate(-470px, 35px);
    -moz-transform: translate(-470px, 35px);
    -ms-transform: translate(-470px, 35px);
    -o-transform: translate(-470px, 35px);
    z-index: 99;
}

#addCategory_id {
    transform: translate(60%, -10%) !important;
    -webkit-transform: translate(60%, -10%) !important;
    -moz-transform: translate(60%, -10%) !important;
    -ms-transform: translate(60%, -10%) !important;
    -o-transform: translate(60%, -10%) !important;
    z-index: 99 !important;
}

/* Custom Fonts */
.img-sm-w {
    width: 70px;
}

.fs-cf-4 {
    font-size: 1.25rem !important;
}

.fs-cf-5 {
    font-size: 1rem !important;
}



/* للشاشات المتوسطة (md) وما فوق */
@media (min-width: 765px) {
    .fs-cf-3 {
        font-size: 1.5rem !important;
    }

    .img-md-w {
        width: 100px;
    }

    .card-md-w {
        width: 100%;
    }

    .end {
        right: 3% !important;
        position: absolute;
    }

    .profile-camera-icon {
        bottom: 3%;
    }
}

/* للشاشات الكبيرة (lg) وما فوق */
@media (min-width: 992px) {
    .fs-cf-1 {
        font-size: 2.5rem !important;
    }

    .fs-cf-2 {
        font-size: 2rem !important;
    }

    .img-cf-w {
        width: 150px;
    }

    .table-lg-w {
        width: 100%;
    }

    .end {
        right: 3% !important;
        position: absolute;
    }

    .profile-camera-icon {
        bottom: 3%;
    }
}

/* Admin-add-product  Text Area input */

textarea {
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
